.profile-doctor-container {
  .intro-doctor {
    display: flex;
    // align-items: center;

    .content-left {
      background: center center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 130px;
      height: 130px;
      border-radius: 50%;
    }
    .content-right {
      width: calc(100% - 20%);
      display: flex;
      font-size: 15px;
      flex-direction: column;
      padding-left: 15px;

      .up {
        font-family: sans-serif;
        font-size: 17px;
        font-weight: 600;
      }

      .down {
        font-family: sans-serif;
        font-size: 14px;
        text-align: justify;
      }
    }
  }
}

.date-title {
  font-family: sans-serif;
  font-size: 15px;
  color: #868e96;
}

.free-price {
  font-family: sans-serif;
  font-size: 15px;
}
