.section-handbooks {
  .section-body {
    .handbook-customize {
      width: 95% !important;
      padding: 5px;
      height: 210px;
      border: 2px solid #dee2e6;
      margin-right: 10px;
      display: flex !important;
      flex-direction: column;
      outline: none !important;

      border-radius: 10px;
      cursor: pointer;

      .section-handbook {
        height: 130px;
        width: 250px;

        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin: 0 auto;
      }

      .handbook-title {
        align-content: center;
        margin-top: 25px;
        font-size: 16px;
        font-weight: bolder;
      }
    }
  }
}
