// reset slick slider css
.slick-prev {
  z-index: 1000;
  border: 1px solid #ced4da !important;
  left: -30px !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 5px !important;
  background-color: #f1f3f5 !important;

  &:hover {
    background: #f8f9fa !important;
  }
}

.slick-prev::before {
  content: "\2190" !important;
  color: #868e96 !important;
  font-size: 30px !important;
}

.slick-next {
  z-index: 1000;
  border: 1px solid #ced4da !important;
  right: -20px !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 5px !important;
  background-color: #f1f3f5 !important;

  &:hover {
    background: #f8f9fa !important;
  }
}

.slick-next::before {
  content: "\2192" !important;
  font-size: 30px !important;
  color: #868e96 !important;
}

.slick-disabled {
  display: none !important;
}

.section-share,
.section-specialize {
  // background: #f5f5f5;

  .section-body {
    .section-customize {
      width: 270px !important;
      height: 250px;
      border: 2px solid #dee2e6;
      margin-right: 10px;
      display: flex !important;
      flex-direction: column;
      border-radius: 10px;
      cursor: pointer;

      .bg-image {
        height: 160px;
        width: 230px;
        background-repeat: no-repeat;

        background-size: cover;
        background-position: center center;
        border-radius: 6px;
        margin: auto;
        padding: 10px 0 !important;

        &.section-speciali {
          background-image: url("../../assets/spcialize/co-xuong-khop.png");
        }

        &.section-medical {
        }
      }

      h3 {
        font-family: sans-serif;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
      }
    }
  }
}

// Medical
.section-share,
.section-medicales {
  // background: #f5f5f5;

  .section-body {
    .medical-customize {
      border: 2px solid #dee2e6;
      width: 270px !important;
      height: 250px;
      // background: #e9ecef;
      margin-right: 10px;
      display: flex !important;
      flex-direction: column;
      border-radius: 10px;
      cursor: pointer;

      .bg-image {
        height: 170px;
        width: 230px;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        margin: auto;
        padding: 10px 0 !important;

        &.section-medical {
          background-image: url("../../assets/medical/cho-gay.jpg");
        }
      }

      h3 {
        font-family: sans-serif;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
      }
    }
  }
}

// FeaturedDoctor
.section-share,
.section-featured-doctor {
  .section-body {
    .doctor-customize {
      // border: 2px solid #dee2e6;
      width: 270px !important;
      height: 230px;
      // background: #e9ecef;
      margin-right: 10px;
      border-radius: 10px;
      cursor: pointer;

      .outer-backg {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        font-size: 20px;
        font-weight: 600;

        .bg-image {
          border-radius: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          margin: auto;
          padding: 10px 0 !important;

          &.section-doctor {
            border: 5px solid #ced4da;
            height: 170px;
            width: 170px;
            margin-bottom: 20px;
            // background-image: url("../../assets/doctor/lux.jpg");
          }
        }
      }

      .position {
        .name-doctor {
          font-family: sans-serif;
          font-size: 15px;
          font-weight: 600 !important;
        }
      }

      .text-eye {
        font-family: sans-serif;
        text-align: center;
        font-size: 15px;
        // font-weight: 600;
        margin-bottom: 20px;
      }
    }
  }
}

// HandBook
.section-share,
.section-handbooks {
  // background: #f5f5f5;

  .section-body {
    .handbook-customize {
      border: 2px solid #dee2e6;
      width: 260px !important;
      height: 250px;
      margin-right: 10px;
      display: flex !important;
      flex-direction: column;
      outline: none !important;

      border-radius: 10px;
      cursor: pointer;

      .bg-image {
        height: 54%;
        width: 100%;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 5px !important;
        margin: auto;
        padding: 10px 0 !important;

        &.section-handbook {
          background-image: url("../../assets/HandBook/danhsach.png");
        }
      }

      h3 {
        font-family: sans-serif;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
      }
    }
  }
}

.section-share {
  height: 400px;

  &.section-about {
    height: 500px !important;
    border-top: 1px solid #e9ecef;
    border-bottom: 1px solid #e9ecef;
    margin-bottom: 50px;
  }

  &.section-featured-doctor {
    // background-color: #dee2e6;
  }
  .section-container {
    margin: 0px 50px;
    display: flex;
    flex-direction: column;

    .section-header {
      font-family: sans-serif;
      height: 65px;
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 30px;

      .title-section {
        font-size: 22px;
        font-weight: 600;
      }

      .btn-section {
        border: none;
        font-size: 20px;
        font-weight: bold;
        background: #99e9f2;
        padding: 10px 15px;
        outline: none;
        color: #0c8599;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          background: #66d9e8;
          transition: all 0.4s;
        }
      }
    }
  }
}

.home-footer {
  text-align: center;
  padding-top: 10px;
  border: 1px solid yellowgreen;

  a {
    text-decoration: none;
  }
}

.section-about {
  // border: 1px solid red;
  padding: 0 30px;

  .section-about-haeder {
    // width: 100%;
    text-align: center !important;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 600;
    padding-top: 20px;
    margin-bottom: 36px;
  }

  .section-about-content {
    display: flex;
    // align-items: center;
    // justify-content: center;
    gap: 40px;
    width: 100%;
    .content-left {
      width: 50%;

      iframe {
        border-radius: 10px;
      }
    }

    .content-right {
      width: 45%;

      p {
        text-align: justify;
        font-style: italic;
        padding-top: 20px;
      }
    }
  }
}
